.yt2p-menugroup > .menuitem-iconic > .menu-accel-container,
.yt2p-menugroup > .menuitem-iconic > .menu-iconic-text,
.yt2p-replaced {
  display: none !important;
}
.yt2p-clearall {
  clear: both !important;
  display: block !important;
}
.yt2p-underline:not(.content-link):not(.related-playlist),
.yt2p-underline.content-link > .title,
.yt2p-underline.related-playlist > .title {
  text-decoration: underline dotted red !important;
}
.yt2p-glow:not(.content-link):not(.related-playlist),
.yt2p-glow.content-link > .title,
.yt2p-glow.related-playlist > .title {
  text-shadow: 1px 1px 3px red !important;
  text-decoration: none;
}
.yt2p-underline:not(.content-link):not(.related-playlist):hover,
.yt2p-underline.content-link:hover > .title,
.yt2p-underline.related-playlist:hover > .title {
  text-decoration-style: solid !important;
}
.yt2p-glow:not(.ytp-title-link),
.yt2p-glow.content-link > .title,
.yt2p-glow.related-playlist > .title {
  color: black !important;
}
.yt-simple-endpoint,
ytd-video-meta-block,
.ytd-badge-supported-renderer {
  text-decoration-line: none !important;
  text-decoration: none !important;
}
.yt2p-send-override {
  text-decoration: none;
}
.yt2p-page-title {
  font-size: 1.8rem;
  display: block;
}

.yt2p-clearall,
.yt2p-video,
.yt2p-video-link,
.yt2p-video-image,
.yt2p-channel-link,
.yt2p-channel-image,
.yt2p-yt-logo,
.yt2p-yt-error,
.yt2p-blackbox,
.yt2p-votebar,
.yt2p-text {
  margin: 0 !important;
  padding: 0 !important;
  border: 0 !important;
  opacity: 1 !important;
}
.yt2p-video-parent {
  padding-top: 0 !important;
  overflow: visible !important;
}
.yt2p-video {
  display: inline-block !important;
  position: relative !important;
  /*float: left !important;*/
  width: 480px !important;
  max-width: 480px !important;
  margin: 2px 0 !important;
  box-sizing: content-box !important;
  background-color: black !important;
}
.yt2p-video-link,
.yt2p-video-image {
  display: inline-block !important;
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  width: 480px !important;
  height: 360px !important;
  max-width: 480px !important;
  max-height: 360px !important;
}
.yt2p-channel-link,
.yt2p-channel-image {
  display: inline-block !important;
  position: absolute !important;
  top: 0 !important;
  right: 0 !important;
  width: 46px !important;
  height: 46px !important;
  max-width: 46px !important;
  max-height: 46px !important;
}
.yt2p-video.yt2p-embedded {
  height: 270px !important;
  max-height: 270px !important;
}
.yt2p-video.yt2p-fil {
  height: 360px !important;
  max-height: 360px !important;
  /*border: 1px dotted red !important;*/
}
.yt2p-video.yt2p-fil:hover {
  /*border: 1px solid red !important;*/
  box-shadow: 1px 1px 12px red !important;
}
.yt2p-video.yt2p-thunderbird {
  margin: 16px 10px !important;
}
.yt2p-video.yt2p-error,
.yt2p-video.yt2p-error > .yt2p-video-link {
  height: 45px !important;
  max-height: 45px !important;
}
/*.yt2p-yt-logo {
  display: inline-block !important;
  position: absolute !important;
  width: 50px !important;
  height: 25px !important;
  max-width: 50px !important;
  max-height: 25px !important;
  background: none !important;
  left: 415px !important;
  top: 10px !important;
}
.yt2p-yt-error {
  display: block !important;
  border: 0px !important;
  background: none !important;
  padding: 0 0 0 0 !important;
  margin: 0 0 0 0 !important;
  position: absolute !important;
  left: 420px !important;
  top: 11px !important;
  width: auto !important;
  height: auto !important;
}*/
.yt2p-blackbox {
  display: inline-block !important;
  position: absolute !important;
  width: 480px !important;
  height: 46px !important;
  max-width: 480px !important;
  max-height: 46px !important;
  background-color: black !important;
  opacity: .8 !important;
}
.yt2p-blackbox.yt2p-upper {
  left: 0 !important;
  top: 0 !important;
}
.yt2p-blackbox.yt2p-lower {
  left: 0 !important;
  bottom: 0 !important;
}
.yt2p-votebar {
  position: absolute !important;
  bottom: 0 !important;
  height: 5px !important;
}
.yt2p-votebar.yt2p-likes {
  left: 0 !important;
  background-color: #070 !important;
}
.yt2p-votebar.yt2p-dislikes {
  right: 0 !important;
  background-color: #700 !important;
}
.yt2p-text {
  font-family: Ubuntu, Roboto, Arial, Helvetica, sans-serif !important;
  font-size: 12px !important;
  font-weight: normal !important;
  color: #EEE !important;
  position: absolute !important;
  line-height: 1em !important;
}
.yt2p-text.yt2p-title {
  font-size: 16px !important;
  font-weight: bold !important;
  text-align: left !important;
  text-overflow: ellipsis !important;
  width: 400px !important;
  max-width: 400px !important;
  white-space: nowrap !important;
  overflow: hidden !important;
  left: 15px !important;
  top: 7px !important;
  line-height: 2em !important;
}
.yt2p-text.yt2p-views {
  text-align: left !important;
  width: 150px !important;
  max-width: 150px !important;
  bottom: 18px !important;
  left: 20px !important;
}
.yt2p-text.yt2p-published {
  text-align: center !important;
  bottom: 18px !important;
}
.yt2p-text.yt2p-duration {
  text-align: right !important;
  width: 100px !important;
  max-width: 100px !important;
  bottom: 18px !important;
  right: 20px !important;
}

/* google, bing, startpage */
.yt2p-video-parent.r > .yt2p-remaining-text,
.yt2p-video-parent.clk > .yt2p-remaining-text,
.yt2p-video-parent.result__title > .yt2p-remaining-text {
  display: none !important;
}
.yt2p-video-parent.r ~ .s > div:first-child {
  display: none !important;
}
.yt2p-video-parent.r ~ .s > div:nth-child(2) {
  margin-left: 0 !important;
}
.yt2p-video ~ .detail__body {
  float: right !important;
  line-height: 0 !important;
  width: 40%;
  max-height: 500px;
}

#yt2pIconContextMenu {
  display: flex;
  flex-direction: column;
  z-index: 1000;
  position: absolute;
  background-color: #F0F0F0;
  box-shadow: 1px 1px 5px black;
}
#yt2pIconContextMenu[yt2p-theme=light] {
  background-color: #F6F6F6;
}
#yt2pIconContextMenu[yt2p-theme=dark] {
  background-color: #323232;
}
#yt2pIconContextMenu .yt2p-separator {
  margin: var(--yt2p-padding-half);
  background-color: #CCCCCC;
}
#yt2pIconContextMenu[yt2p-theme=light] .yt2p-separator {
  background-color: #D1D1D1;
}
#yt2pIconContextMenu[yt2p-theme=dark] .yt2p-separator {
  background-color: #2B2B2B;
}

#yt2pIconContextMenu .yt2p-playergroup {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#yt2pIconContextMenu .yt2p-playergroup.yt2p-separator {
  height: 1px;
}
#yt2pIconContextMenu .yt2p-player {
  display: flex;
  justify-content: center;
  flex: 1;
}
#yt2pIconContextMenu .yt2p-player.yt2p-separator {
  width: 1px;
  height: 50%;
}
#yt2pIconContextMenu .yt2p-player:not(.yt2p-separator):hover {
  background-color: Highlight;
}
#yt2pIconContextMenu .yt2p-playerbutton {
  width: var(--yt2p-iconsize);
  height: var(--yt2p-iconsize);
  padding: var(--yt2p-padding);
  cursor: default;
}
