#detailsDeck {
  padding: 5px;
}

.subprefs {
	margin-left: 2em;
}

treechildren::-moz-tree-image {
	width: 16px;
	height: 16px;
}
treechildren::-moz-tree-image(isSeparator) {
	width: 0;
	height: 0;
}
treechildren::-moz-tree-cell-text(name) {
  padding-left: 5px;
}

treechildren::-moz-tree-checkbox {
  list-style-image: none;
}
treechildren::-moz-tree-checkbox(isClickSender, checked) {
  list-style-image: url("chrome://yt2p/skin/16/clickSender.png");
}
treechildren::-moz-tree-checkbox(isIconRow, checked) {
  list-style-image: url("chrome://yt2p/skin/16/iconRow.png");
}
treechildren::-moz-tree-checkbox(isPopup) {
  list-style-image: url("chrome://yt2p/skin/16/popup.png");
}
